// .input-group {
//   margin-bottom: 10px;
// }
// span.section {
//   display: block;
//   width: 100%;
//   padding: 0;
//   margin-bottom: 20px;
//   font-size: 21px;
//   line-height: inherit;
//   color: #333;
//   border: 0;
//   border-bottom: 1px solid #e5e5e5;
// }
.form-horizontal .form-group {
  margin: 0 0 10px;
  &.invalid-group {
    input,
    select,
    textarea {
      border: 1px solid #CE5454;
      box-shadow: 0 0 4px -2px #CE5454;
    }
  }
  .control-label {
    padding-top: 8px;
    &[required]:after {
      content: "*";
      margin-left: 3px;
    }
  }
  .form-control {
    border-radius: 0;
    width: 100%;
    &:focus {
      border-color: #CCD0D7;
      box-shadow: none !important;
    }
  }
  .label-text {
    padding-top: 8px;
  }
  legend {
    font-size: 18px;
    color: inherit;
  }
  .ln_solid {
    border-top: 1px solid #e5e5e5;
    color: #fff;
    background-color: #fff;
    height: 1px;
    margin: 20px 0;
  }
  .invalid-message {
    display: inline-block;
    margin-top: 5px;
    padding: 3px 10px;
    color: #FFF;
    border-radius: 3px 4px 4px 3px;
    background-color: #CE5454;
    font-size: 12px;
  }
}