.rui-popover {
    position: absolute;
    padding-bottom: 4px;
    z-index: 1030;
    cursor: auto;
    font-size: 12px;
    line-height: 1.5;
    font-weight: 400;
    text-align: left;
}

.rui-popover-inner {
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 4px;
    box-shadow: 0 1px 6px rgba(0,0,0,.2);
    padding: 8px 16px;
    color: rgba(0,0,0,.65);
}

.rui-popover-message {
    padding: 8px 0 16px;
    font-size: 12px;
    color: rgba(0,0,0,.65);
}

.rui-popover-buttons {
    text-align: right;
    margin-bottom: 8px;
}

.rui-popover-buttons button {
    margin-left: 8px;
}