.profile {
  .profile_pic {
    width: 35%;
    float: left;
  }
  .img-circle.profile_img {
    width: 70%;
    background: #fff;
    margin-left: 15%;
    z-index: 1000;
    position: inherit;
    margin-top: 20px;
    border: 1px solid rgba(52, 73, 94, 0.44);
    padding: 4px;
  }
  .profile_info {
    padding: 25px 10px 10px;
    width: 65%;
    float: left;
    h2 {
      font-size: 14px;
      color: #ECF0F1;
      margin: 0;
      font-weight: 300;
    }
    span {
      font-size: 13px;
      line-height: 30px;
      color: #BAB8B8;
    }
  }
}

.nav-sm .profile {
  display: none;
}