.sidebar-menu {
  padding: 0;
  margin-top: 20px;
  span.fa {
    float: right;
    text-align: center;
    margin-top: 5px;
    font-size: 10px;
    min-width: inherit;
    color: #C4CFDA;
  }
  .fa {
    width: 26px;
    opacity: .99;
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    -moz-osx-font-smoothing: grayscale;
  }
}

.menu_section {
  margin-bottom: 35px;
  h3 {
    padding-left: 15px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .5px;
    font-weight: bold;
    font-size: 11px;
    margin-bottom: 0;
    margin-top: 0;
    text-shadow: 1px 1px #000;
  }
}

.side-menu {
  margin-top: 10px;
  > li {
    position: relative;
    display: block;
    cursor: pointer;
    > a {
      margin-bottom: 6px;
      color: #E7E7E7;
      font-weight: 500;
      position: relative;
      display: block;
      padding: 13px 15px 12px;
      &:hover {
        color: #F2F5F7 !important;
        text-decoration: none;
        background: transparent;
      }
    }
    &.current-page, &.active {
      border-right: 5px solid #1ABB9C;
    }
    &.current-page > a, &.active > a, &.current-page > a:hover, &.active > a:hover {
      text-shadow: rgba(0, 0, 0, 0.25) 0 -1px 0;
      background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5b6479), color-stop(100%, #4c5566)), #686e78;
      background: -webkit-linear-gradient(#334556, #2C4257), #2A3F54;
      background: -moz-linear-gradient(#334556, #2C4257), #2A3F54;
      background: -o-linear-gradient(#334556, #2C4257), #2A3F54;
      background: linear-gradient(#334556, #2C4257), #2A3F54;
      -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0, inset rgba(255, 255, 255, 0.16) 0 1px 0;
      -moz-box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0, inset rgba(255, 255, 255, 0.16) 0 1px 0;
      box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0, inset rgba(255, 255, 255, 0.16) 0 1px 0;
    }
  }
  .child_menu {
    display: none;
    > li > a {
      color: rgba(255, 255, 255, 0.75);
      font-size: 12px;
      padding: 9px;
      font-weight: 500;
    }
    li {
      padding-left: 36px;
      &:hover, &.active {
        background-color: rgba(255, 255, 255, 0.06);
      }
      li {
        &:hover, &.active {
          background: none;
          color: #fff;
        }
      }
    }
  }
}

.nav {
  > li > a {
    &:hover {
      background: transparent;
    }
    &:focus {
      text-decoration: none;
      background: transparent;
    }
  }
  li {
    &.current-page {
      background: rgba(255, 255, 255, 0.05);
    }
    li {
      li.current-page {
        background: none;
      }
      &.current-page a {
        color: #fff;
      }
    }
  }
}

.nav-sm {
  .menu_fixed {
    position: fixed;
    height: 100%;
  }
  .side-menu li a {
    text-align: center !important;
    font-weight: 400;
    font-size: 10px;
    padding: 10px 5px;
    i {
      font-size: 25px !important;
      text-align: center;
      width: 100% !important;
      margin-bottom: 5px;
      &.toggle-up {
        display: none !important;
      }
    }
  }
  .child_menu li.active, .side-menu li.active-sm {
    border-right: 5px solid #1ABB9C;
  }
  ul.nav.child_menu ul, .side-menu li.active-sm ul ul {
    position: static;
    width: 200px;
    background: none;
  }
  ul.nav.child_menu {
    left: 100%;
    position: absolute;
    top: 0;
    width: 210px;
    z-index: 4000;
    background: #3E5367;
    display: none;
    li {
      padding: 0 10px;
      a {
        text-align: left !important;
      }
    }
  }
  .menu_section {
    margin: 0;
  }
  span.fa, .menu_section h3 {
    display: none;
  }
  li li span.fa {
    display: inline-block;
  }
}

.nav-md {
  .menu_fixed {
    height: 100%;
    position: fixed;
  }
  ul.nav.child_menu li {
    &:before {
      background: #425668;
      bottom: auto;
      content: "";
      height: 8px;
      left: 23px;
      margin-top: 15px;
      position: absolute;
      right: auto;
      width: 8px;
      z-index: 1;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
    }
    &:after {
      border-left: 1px solid #425668;
      bottom: 0;
      content: "";
      left: 27px;
      position: absolute;
      top: 0;
    }
  }
}